.section-height
{
    /* max-height: 550px; */
    min-height: 400px;
}
.container{
    width:70vw;
    position: relative;
    overflow-y: hidden;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.flex-direction{
    flex-direction: column;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.p-10{
    padding: 10px;
}
.pt-10{
    padding-top:10px ;
}
.pb-10{
    padding-bottom:10px ;
}
.pl-10{
    padding-left:10px ;
}
.pr-10{
    padding-right:10px ;
}

.p-20{
    padding: 20px;
}
.pt-20{
    padding-top:20px ;
}
.pb-20{
    padding-bottom:20px ;
}
.pl-20{
    padding-left:20px ;
}
.pr-20{
    padding-right:20px ;
}
.p-50{
    padding: 50px;
}
.pt-50{
    padding-top:50px ;
}
.pb-50{
    padding-bottom:50px ;
}
.pl-50{
    padding-left:50px ;
}
.pr-50{
    padding-right:50px ;
}

.text-tiny{
    font-size: 12px;
}
.text-base{
    font-size: 14px;
}
.text-regular{
    font-size: 18px;
}
.blue-txt{
    color: dodgerblue;
}


.preloader{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide-loader{
    display: none;
}

.ball{
    width:40px;
    height:40px;
    background-color: brown;
    border-radius: 50%;
   
    animation: squeeze 1s ease-in-out infinite ;
}
.main-loader{
    animation: spinner 1s linear infinite ;
}
.c-1{
    background-color: red;
}
.c-2{
    background-color: yellow;
}
.c-3{
    background-color: blue;
}
.c-4{
    background-color: green;
}
@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes squeeze {
    0%{
        margin:20px;
    }
    100%{
        margin:4px;
    }
}