.section-height
{
    /* max-height: 550px; */
    min-height: 400px;
}
.container{
    width:70vw;
    position: relative;
    overflow-y: hidden;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.flex-direction{
    flex-direction: column;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.p-10{
    padding: 10px;
}
.pt-10{
    padding-top:10px ;
}
.pb-10{
    padding-bottom:10px ;
}
.pl-10{
    padding-left:10px ;
}
.pr-10{
    padding-right:10px ;
}

.p-20{
    padding: 20px;
}
.pt-20{
    padding-top:20px ;
}
.pb-20{
    padding-bottom:20px ;
}
.pl-20{
    padding-left:20px ;
}
.pr-20{
    padding-right:20px ;
}
.p-50{
    padding: 50px;
}
.pt-50{
    padding-top:50px ;
}
.pb-50{
    padding-bottom:50px ;
}
.pl-50{
    padding-left:50px ;
}
.pr-50{
    padding-right:50px ;
}

.text-tiny{
    font-size: 12px;
}
.text-base{
    font-size: 14px;
}
.text-regular{
    font-size: 18px;
}
.blue-txt{
    color: dodgerblue;
}


